.ion-content-scroll-host {
  overflow-y: auto;
}

.item-class-name {
  width: 100%;

  height: 10.5rem;
  padding: 4px;
}

.item-class-name.small {
  height: 150px;
}

@media (min-width: 768px) {
  /* MD */
  /* .item-class-name {
    width: 50%;
  } */
}

/* XL */
/* @media (min-width: 1200px) {
  .item-class-name {
    width: 33%;
  }
} */

.list-class-name {
  display: flex;
  flex-wrap: wrap;
}
